<style>
	*{
		box-sizing: border-box;
	}
.column {
	float:left;
	width: 100%;
	padding: 10px;
	height: 800px;
}
.row {
	width: 100%;
}
.header {
	background-color:skyblue;
	text-align: center;
	height: 50px;
}